<!DOCTYPE html>
<html>
  <head>
    <title>{{ data.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8
      ]><script src="{{ url_for('static', filename='assets/js/html5shiv.js') }}"></script
    ><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <!--[if lte IE 9
      ]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie9.css') }}"
    /><![endif]-->
    <!--[if lte IE 8
      ]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie8.css') }}"
    /><![endif]-->
    <noscript
      ><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}"
    /></noscript>
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <section id="main">
        <header>
          <span class="avatar"
            ><img src="{{ url_for('static', filename=data.avatar) }}" alt="Avatar"
          /></span>
          <h1>{{ data.name }}</h1>
          <p>{{ data.role }}</p>
        </header>

        <hr />
        <h2>Extra Stuff!</h2>
        <form method="post" action="{{ url_for('submit_form') }}">
          <div class="field">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="field">
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <div class="select-wrapper">
              <select name="department" id="department">
                <option value="">Department</option>
                <option value="sales">Sales</option>
                <option value="tech">Tech Support</option>
                <option value="null">/dev/null</option>
              </select>
            </div>
          </div>
          <div class="field">
            <textarea
              name="message"
              id="message"
              placeholder="Message"
              rows="4"
            ></textarea>
          </div>
          <div class="field">
            <input type="checkbox" id="human" name="human" /><label for="human"
              >I'm a human</label
            >
          </div>
          <div class="field">
            <label>But are you a robot?</label>
            <input type="radio" id="robot_yes" name="robot" value="yes" /><label
              for="robot_yes"
              >Yes</label
            >
            <input type="radio" id="robot_no" name="robot" value="no" /><label
              for="robot_no"
              >No</label
            >
          </div>
          <ul class="actions">
            <li><button type="submit" class="button">Get Started</button></li>
          </ul>
        </form>
        <hr />

        <footer>
          <ul class="icons">
            {% for link in data.social_links %}
            <li><a href="{{ link.url }}" class="{{ link.icon }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </footer>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; {{ data.copyright_name }}</li>
          <li>Design: <a href="{{ data.design_credit_url }}">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <!--[if lte IE 8
      ]><script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script
    ><![endif]-->
    <script>
      if ("addEventListener" in window) {
        window.addEventListener("load", function () {
          document.body.className = document.body.className.replace(
            /\bis-loading\b/,
            ""
          );
        });
        document.body.className += navigator.userAgent.match(/(MSIE|rv:11\.0)/)
          ? " is-ie"
          : "";
      }
    </script>
  </body>
</html>